<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
{#    {% load phonebook_tags %}#}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
{% comment %}
    <link rel="icon" type="image/x-icon" href="{% static 'equipment_app/favicon/favicon-96x96.png' %}"
          sizes="any">
          {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'equipment_app/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'equipment_app/css/page_calculator.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'equipment_app/css/loader-big.css' %}"/>



    <script type="text/javascript"
            src="{% static 'equipment_app/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'kks_reestr_app/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'equipment_app/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'equipment_app/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>


</head>
<body class="content-fade">

<div class="container">
        {% block content %}
        {% endblock %}
</div>
</body>
</html>